:root {
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --hover-color: #CCCCCC;
    --bg-color: #1b1913;
    --h1-font-family: "CursorGothic", "CursorGothic Fallback", system-ui, "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    --silver-color: #888888;
    --width: 75%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.nav-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px auto; */
    margin: 5px auto;
    width: var(--width);
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
}

.nav-icon-container {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-icon-container:hover {
    cursor: pointer;
}

.nav-links-container {
    /* border: 1px solid red; */
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-links-container a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 14px;
}

.nav-links-container a:hover {
    color: var(--hover-color);
}

.nav-cta-container{
    /* width: 30%; */
}

.nav-cta-container button {
    border: none;
    padding: 3px 12px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 3px;
    font-size: 14px;
}

#SignIn {
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--hover-color);
}

.hero-section {
    /* border: 1px solid blue; */
    margin-top: 100px;
}

.hero-text-container {
    /* border: 2px solid red; */
    width: var(--width);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-text-container h1 {
    font-family: var(--h1-font-family);
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -.0125em;
    color: #edecec;
}

.hero-cta-buttons button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 12px 21px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 450;
    margin-top: 20px;
}

.hero-image-container {
    width: var(--width);
    margin: 50px auto;
    /* border: 1px solid red; */
}

.hero-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card {
    width: 100%;
    height: 6.25rem;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos {
    /* border: 1px solid red; */
    width: var(--width);
    margin: 50px auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.cards-heading {
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--secondary-color);
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
}

.feature {
    /* border: 1px solid red; */
    width: var(--width);
    margin: 50px auto;
}

.feature_1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-color);
    padding: 15px;
    margin-bottom: 100px;
}

.feature_1 .text {
    font-family: var(--h1-font-family);
    font-size: 1.375rem;
    letter-spacing: -.005em;
    color: #edecec;
    line-height: 1.3;
    width: 60%;
    margin-right: 20px;
    padding: 10px;
}

.feature_1 h3 {
    font-weight: 500;
    font-size: 1.375rem;
    font-family: var(--h1-font-family);
}

.feature_1 .image {
    /* width: 50%; */
    height: 100%;
    width: 120%;
}

.feature_1 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.feature p {
    color: var(--silver-color);
}

.feature_1 button {
    color: #f54e00;
    background-color: transparent;
    /* border: 1px solid #f54e00; */
    border-radius: 30px;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}


.feature_2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-color);
    padding: 15px;
    margin-bottom: 100px;
}

.feature_2 .text {
    font-family: var(--h1-font-family);
    font-size: 1.375rem;
    letter-spacing: -.005em;
    color: #edecec;
    line-height: 1.3;
    width: 60%;
    margin-left: 20px;
    padding: 10px;
}

.feature_2 h3 {
    font-weight: 500;
    font-size: 1.375rem;
    font-family: var(--h1-font-family);
}

.feature_2 .image {
    /* width: 50%; */
    height: 100%;
    width: 120%;
}

.feature_2 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}


.feature_2 button {
    color: #f54e00;
    background-color: transparent;
    /* border: 1px solid #f54e00; */
    border-radius: 30px;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}


.feature_3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-color);
    padding: 15px;
}

.feature_3 .text {
    font-family: var(--h1-font-family);
    font-size: 1.375rem;
    letter-spacing: -.005em;
    color: #edecec;
    line-height: 1.3;
    width: 60%;
    margin-right: 20px;
    padding: 10px;
}

.feature_3 h3 {
    font-weight: 500;
    font-size: 1.375rem;
    font-family: var(--h1-font-family);
}

.feature_3 .image {
    /* width: 50%; */
    height: 100%;
    width: 120%;
}

.feature_3 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}


.feature_3 button {
    color: #f54e00;
    background-color: transparent;
    /* border: 1px solid #f54e00; */
    border-radius: 30px;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.testimonials {
    padding: 67px 0;
    background: #0c0c0c;
    width: var(--width);
    margin: 0 auto;
}

.testimonials-title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 60px;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.testimonial-card {
    background: #121212;
    border: 1px solid #1e1e1e;
    border-radius: 8px;
    padding: 15.9px 17.5px 17.5px 17.5px;
    min-height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote {
    color: #e5e5e5;
    font-size: 15px;
    line-height: 1.6;
}

.author {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.author img {
    width: 36px;
    height: 36px;
    border-radius: 6px;
}

.author h4 {
    font-size: 14px;
    font-weight: 500;
}

.author span {
    font-size: 14px;
    font-weight: 400;
    color: var(--silver-color);
}